[submodule "frontend"]
	path = frontend
	url = https://github.com/KGU-Smart-Assistant/Frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/KGU-Smart-Assistant/Backend.git
	branch = main
